*~
#*
*.ali
*.log
config.status
Makefile.conf
*.cproject
*.gb_project
*.project
*.log
*.cov
*.o
ChangeLog
.settings
configure.lineno
gnatinspect.db*
clang_ref_cache.db
gpsauto.cgpr
are-tests.xml
are-aunit.xml
autom4te.cache
bin
lib/
obj/
regtests/results/
wiki
alire
cover
examples/c-config/src/config.*
examples/go-config/config/config.go
examples/ada-config/src/config.*
examples/c-help/src/man.*
examples/c-help/src/help.*
examples/ada-bundles/src/bundle.ads
examples/ada-bundles/src/bundle.adb
examples/ada-help/src/resources-*.ad?
examples/ada-config/show_config
examples/ada-help/show_help
examples/c-config/show-config
examples/c-help/show-help
examples/c-web/show-web
examples/c-web/src/web.*
examples/go-help/help/help.go
examples/go-help/man/man.go
examples/go-help/show-help
examples/go-config/show-config
b~*.ad?
**/are-generator
regtests/files/test-ada-*/resource*.ad?
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
*.substvars