*~
#*
*.ali
*.log
config.status
Makefile.conf
*.cproject
*.gb_project
*.project
*.log
*.cov
*.o
ChangeLog
.settings
configure.lineno
gnatinspect.db*
clang_ref_cache.db
gpsauto.cgpr
are-tests.xml
are-aunit.xml
autom4te.cache
bin
lib/
obj/
regtests/results/
wiki
alire
cover
