.bootstrap {
    
}
body {
    
}
.fluid_grid {
    color: red;
    background-image: url(../images/fluid.png)
}
.asf {
    background-image:url(../images/asf.png)
}
.awa {
    color: blue;
}
.users {
    font-weight: bold;
}
.jquery-ui-1.12 {
    background:url(images/ui-icon.png) no-repeat
}
.chosen {
    
}
.comments {
    
}
.blogs {
    
}
.markedit {
    
}
.storages {
    
}
.wikis {
    
}
.tagedit {
    
}
.datetimepicker {
    
}
.trumbowyg {
    
}
